body {
	background-image:url('{{ STATIC_URL }}img/wavegrid.png');
}

#sidebarDiv {
	background-image:url('{{ STATIC_URL }}img/cream_dust.png');
}

.login-button {
	font-family: 'Georgia',serif;
	font-size: 1.2em;
	border-radius: 5px;
}

h1{
	font-family: 'Istok Web', sans-serif;
	color: #5F0000;
}

h3{
	font-family: 'Georgia', serif; 
	font-weight:normal;
}

h4{
	font-family: 'Georgia', serif; 
	font-weight:normal;
}

#helpTitle{
	font-family: 'Istok Web', sans-serif;
	color: #5F0000; 
	text-align:center;
}

.cont{
	overflow:hidden;
}

.textDiv{
	padding:0;
	text-align:center;
	vertical-align:middle;
	word-wrap:break-word;
}

.ballotbar{
	width: 0%;
}