 <!DOCTYPE html>
 <html>
 <head>
 	<title>TrueVote - Audit</title>
 	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
 	<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
 	<link href="{{ STATIC_URL }}css/fix_mistake.css" rel="stylesheet" media="screen">
 	<link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">
 	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

 	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}js/bootbox.min.js"></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.js"></script>

 	<script type="text/javascript" src="{{ STATIC_URL }}js/fix_mistake.js"></script>
 </head>

 <body>

 	<div id="confirmRestart" class="modal hide fade">
 	  <div class="modal-header">
 	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 	    <h1 id="errorTitle" class="modal-text">Restart Audit</h1>
 	  </div>
 	  <div id="errorBody" class="modal-body">
 	    <h4 class="modal-text">You will lose all information entered.</h4>
 	  </div>
 	  <div class="modal-footer">
 	    <a id="cancelButton" href="#" class="btn btnCancelModal">Cancel</a>
		&nbsp;
		<a id="continueButton" href="#" class="btn btn-danger">Continue</a>
 	  </div>
 	</div>

 	<div id="confirmFixRace" class="modal hide fade">
 	  <div class="modal-header">
 	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 	    <h1 id="fixRaceTitle" class="modal-text"></h1>
 	  </div>
 	  <div id="fixRaceBody" class="modal-body">
 	  </div>
 	  <div class="modal-footer">
	   	<a id="cancelButtonFix" href="#" class="btn btnCancelModal">Cancel</a>
		&nbsp;
	   	<a id="continueButtonFix" href="#" class="btn btn-danger">Continue</a>
 	  </div>
 	</div>

 	<div id="mainFixMistake" class="row-fluid">

 		<div id="helpFixMistake" class="span3">
 			<img src="{{ STATIC_URL }}img/logo.png">
 			<h1>Fix Mistake</h1>
 			<p class="helpText"><br/><br />Click on a candidate's name to change your selection.</p>
 			<div id="fixButtons" class="row-fluid">
 			  <button id='btnRestart' class='fixBtn btn btn-danger'>&nbsp;&nbsp;Restart Audit&nbsp;&nbsp;</button>
 			  &nbsp;&nbsp;&nbsp;&nbsp;
 			  <button id='cancelFixMistake' class='fixBtn btn input-small'>Cancel</button>
 			</div>
 		</div>
 		<div class="span9">
 			<a href="../../tutorial/fix/" class="tutorialLink">Help</a>
 			<div class="row-fluid">
 			  <div id="ballotTable" class='tabbable'>
 			    <ul class='nav nav-tabs'>
 			      <li class='active tableTab'><a href='#currentBallotTab' data-toggle='tab'>Current Ballot</a></li>
 			      {% if previous_ballot|length != 0 %}
	 			      <li><a href='#previousBallotTab' class='tableTab' data-toggle='tab'>Previous Ballot</a></li>
 			      {% endif %}
 			    </ul>
 			    <div class='tab-content'>

 			      <div class='tab-pane active' id='currentBallotTab'>

 			      	{% if current_ballot|length == 0 %}
	 			      	<p class="ballotHeader">Ballot {{ current_ballot_num }}</p>
 			      	    <p class="noSelection">No selections yet.</p>
 			      	{% else %}
 			      		<div class="row-fluid">
 			      			<div class="span3">
 			      				<p class="ballotHeader">Ballot {{ current_ballot_num }}</p>
 			      			</div>
 			      			<div class="span9">
 			      				{% with current_ballot|first as first_race %}
 			      					<button class='reset fixMistakeBtn btn btn-danger input-large' value='{{ first_race.number }}|reset|current'>Reset Ballot</button>
 			      				{% endwith %}
 			      			</div>
 			      		</div>
	 			      	<table id='currentBallotTable' class='table table-hover'>
	 			      			{% for r in current_ballot %}
	 			      				<tr>
	 			      					<td class='raceName'>
	 			      						{{ r.name }}
	 			      					</td>
	 			      					<td> 
	 			      						<button class='fixMistakeBtn btn btn-info input-xlarge' value='{{ r.number }}|{{ r.name }}|current'>{{ r.winner }}</button>
	 			      					</td>
	 			      				</tr>
	 			      			{% endfor %}
	 			      	</table>
 			      	{% endif %}

 			      </div>
 			      {% if previous_ballot|length != 0 %}
 			      <div class='tab-pane' id='previousBallotTab'>
 			      	<div class="row-fluid">
 			      		<div class="span3">
 			      			<p class="ballotHeader">Ballot {{ previous_ballot_num }}</p>
 			      		</div>
 			      		<div class="span9">
 			      			{% with previous_ballot|first as first_race %}
 			      				<button class='reset fixMistakeBtn btn btn-danger input-large' value='{{ first_race.number }}|reset|previous'>Reset Ballot</button>
 			      			{% endwith %}
 			      		</div>
 			      	</div>

 			      	<table id='previousBallotTable' class='table table-hover'>
		      			{% for r in previous_ballot %}
		      				<tr>
		      					<td class='raceName'>
		      						{{ r.name }}
		      					</td>
		      					<td> 
		      						<button class='fixMistakeBtn btn btn-info input-xlarge' value='{{ r.number }}|{{ r.name }}|previous'>{{ r.winner }}</button>
		      					</td>
		      				</tr>
		      			{% endfor %}
 			      	</table>
 			      </div>
 			      {% endif %}

 			    </div>
 			  </div>
	 		</div>
	 	</div>
</body>
</html>
