<!--Help Menu-->
<div id="helpMenu">
	<div id="containerParent">
	<div id="container-outer">
	<div id="helpTitle">
		<h1> Instructions </h1>
	</div>
	<div class="container cont">
		<table class="table table-bordered table-condensed">
			<tr>	
				<div class="row-fluid span6">
					<td>
						<div id="imgDiv" class="span4">
							<img src="{{ STATIC_URL }}img/changeCandidateShort.png" alt="ScreenShot" width="250px">
						</div>
					</td>
					<td>
						<div class="textDiv span8">
							<div class="well well-large">
								<h4>To fix a specific race, click on the candidate's name.</h4>
							</div>
						</div> 
					</td>
				</div>
			</tr>
			<tr>
				<div class="row-fluid span6">
					<td>
						<div id="imgDiv" class="span4">
							<img src="{{ STATIC_URL }}img/changeBallotShort.png" alt="ScreenShot" width="250px">
						</div>
					</td>
					<td>
						<div class="textDiv span8">
							<div class="well well-large">
								<h4>To reset a whole ballot, click the "Reset" button at the top of the ballot. You can only reset your current ballot and the one immediately preceding it.</h4>
							</div>
						</div>
					</td>
				</div>
			</tr>
			<tr>
				<div class="row-fluid span6">
					<td>
						<div id="imgDiv" class="span4">
							<img src="{{ STATIC_URL }}img/restartShort.png" alt="ScreenShot" width="250px">
						</div>
					</td>
					<td>
						<div class="textDiv span8">
							<div class="well well-large">
								<h4>To restart the entire audit, click the "Restart Audit button" at the bottom left of your screen.</h4>
							</div>
						</div>
					</td>
				</div>
			</tr>
			<tr>
				<div class="row-fluid span6">
					<td>
						<div id="imgDiv" class="span4">
							<img src="{{ STATIC_URL }}img/cancelShort.png" alt="ScreenShot" width="250px">
						</div>
					</td>
					<td>
						<div class="textDiv span8">
							<div class="well well-large">
								<h4>To continue entering ballots without making any changes, click the "Cancel" button at the bottom left of your screen.</h4>
							</div>
						</div>
					</td>
				</div>
			</tr>
		 </table>
	</div>
	</div>
	</div>
</div>
