<!DOCTYPE html>
<html>
<head>
	<title>TrueVote - Audit</title>
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
	<!--<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">-->

	<link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/vote-count.js"></script>
</head>

<body>	

	<div id="logout" class="modal hide fade">
 	  <div class="modal-header">
 	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 	    <h1 id="errorTitle" class="modal-text">You are about to logout.</h1>
 	  </div>
 	  <div id="errorBody" class="modal-body">
 	    <h4 class="modal-text">When you log back in, you can resume the audit.</h4>
 	  </div>
 	  <div class="modal-footer">
	  	<a id="cancelButton" href="/audit/" class="btn btnCancelModal">Cancel</a>
		&nbsp;
	   	<a id="continueButton" href="/logout/" class="btn btn-danger">Logout</a>
 	  </div>
 	</div>
	
	<div id="mainScreen" class="row-fluid">
		<div id="sidebarDiv" class="span3">
			<!--Sidebar content-->
			{% include "sidebar.html" %}
		</div>
		<div id="voteCountDiv" class="span9">
			<!--Body content-->
			{% include "vote_count.html" %}
		</div>
	</div>

</div>
</body>
</html>