<img src="{{ STATIC_URL }}img/logo.png">

<div id="ballotNumber">
	<h1>Ballot 1</h1> 
</div>

<div id="ballotHelper">

	<!--<div class="progress">
	    <div class="bar bar-danger ballotbar">
	    </div>
	</div>-->
</div>

<div class='previousSelections'>
	<h2>Previous Selections</h2>
</div>

<div id="enteredInfo">
	<table id="currentBallot">
	</table>
</div>

<div id="fixMistakeDiv">
  <button id="fixMistakeBtn" name="" class="fixBtn btn btn-danger input-medium">Fix Mistake</button>
  <button id="takeBreakBtn" name="" class="fixBtn btn input-medium">Pause Audit</button>
</div>
