<!DOCTYPE html>
<html>
  <head>
	<title>TrueVote</title>
	<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/welcome.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/welcome.js"></script>
</head>
<body>
	<div class="containerParent">
	<div class="container-outer">
    <div class="content">
      <div class="row">
        <div class="login-form">
		  <legend>
		  <a class="brand" href="#"><img src="{{ STATIC_URL }}img\logo.png" width="350"></a>
		  </legend>
          <h1> 
          	{% if userprofile.user.first_name %}
          		Welcome, {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}
          	{% else %}
          		Welcome
          	{% endif %}

		  </h1>
		  <h4> You are auditing the 2012 Presidential Election. </h4>
		  	{% if userprofile.counter == 0 %}
		  		<h3>You have been assigned {{ userprofile.ballots }} ballots. </h3>
		  	{% else %}
		  		<h3>You have {{ remaining_ballots }} ballots left to audit. </h3>
		  	{% endif %}
		  <!--<a href="/tutorial/" class="btn btn-info login-button pull-right">Continue</a></button>-->
		  {% if userprofile.counter == 0 %}
		  	<a href="/tutorial/" class="btn login-button pull-right proceed">Start</a></button>
		  {% elif remaining_ballots == 0 %}
		  	<a href="/audit/results/" class="btn login-button pull-right proceed">View Results</a></button>
		  {% else %}
			<a id="continueButton" href="/logout/" class="btn input-small">Logout</a>
			&nbsp;
			&nbsp;
		  	<a href="/audit/" class="btn btn-info proceed input-small">Continue</a></button>
		  {% endif %}
        </div>
      </div>
	</div>
    </div>
  </div> 
</body>
</html>