html, body {
	background-color: #eee;
	background-image:url('/static/img/grey_wash_wall.png');
	margin: 0;
	padding: 0;
	height: 90%;

}
body {
	position: relative;
	padding-top: 40px; 
	/*height: 100px;*/

}

.containerParent{
	position: relative;
	width: 100%;
}

.container-outer {
	
	width: 500 px;
	margin-right: auto; 
	margin-left: auto;
	padding-top: 8%;
	z-index: 10;

}

.background {
	position: absolute;
	
	min-width: 100%;
	min-height: 100%;
}

.background-img {
	width: 100%;
	height: auto;
}

/* The white background content wrapper */
.container-outer > .content {
	text-align: left;
	position: relative;
	width: 500px ;
	margin-left: auto ;
	margin-right: auto ;
	background-color: #fff;
	background-image:url('/static/img/wavegrid.png');
	padding: 20px;
	margin: 0px; 
	-webkit-border-radius: 10px 10px 10px 10px;
	   -moz-border-radius: 10px 10px 10px 10px;
			border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
			box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
	position: relative;
	margin-left: 20px;
	margin-top: -10px;
}

legend {
	margin-right: -50px;
	font-weight: bold;
	color: #5F0000;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.center {
	width: 500px ;
	margin-left: auto ;
	margin-right: auto ;
}

.login-label{
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-size: 1.2em;
}

.login-button{
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-size: 1.2em;
}

#loginbtn {
	text-align: center;
}


fieldset {
padding-top: -10%;
margin: 0;
border: 0;
}

p{
	font-size:0.95em;
	margin-top: 10px;
	text-align: center;
}

input {
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

.createusernamelink {
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

.control-label {
	font-size: 1.1em;
}

.smallhelp {
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #5F0000;
}